<nav  class="navbar">
  <ul class="navbar-right">
    <% if user_signed_in? %>
    <%= yield :right_nav %>
    <li> <a class="active" href="javascript:void(0)">Home</a></li>
    <li class="options"> <a href="profile"><%=link_to current_user.name %></a></li>
     <li> <a href="javascript:void(0)">Profile</a></li>
      <li><a href="javascript:void(0)">More Info</a></li>
      <li><a href="javascript:void(0)">So Much Banta</a></li>
    <li><% link_to("Settings", edit_user_registration_path) %></li>
    <li><%= link_to("Logout", destroy_user_session_path, method: :delete)%></li>
    <% else %>
    <li> <a class="active" href="javascript:void(0)">Home</a></li>
    <li> <a href="javascript:void(0)">Join Banta Today</a></li>
    <li> <a href="javascript:void(0)">About Us</a></li>
    <li> <a href="javascript:void(0)">So Much Banta</a></li>
    <li><%= link_to("Sign Up", new_user_registration_path)%></li>
    <li> <%= link_to("Login", new_user_session_path)%></li>
  </ul>
  <% end %>
</nav>
